@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");

@media screen and (min-width: 860px) {
  .navigation-text {
    font-weight: bold;
    font-size: 30px;
    font-family: Piedra;
    letter-spacing: 2px;
    box-shadow: black;

    color: white;

    border: none;
    background-color: transparent;
    outline: 0;

    cursor: pointer;

    margin: 10px;
    padding-top: 15px;

    text-shadow: black;
  }
  .navigation-menu {
    width: "100%";
    position: absolute;
    right: 20px;

    margin-right: 0px;
  }
}

@media screen and (max-width: 860px) and (min-width: 540px) {
  .navigation-text {
    font-weight: bold;
    font-size: 18px;
    font-family: Piedra;
    letter-spacing: 1px;
    box-shadow: black;

    color: white;

    border: none;
    background-color: transparent;
    outline: 0;

    cursor: pointer;

    margin: 8px;
    padding-top: 12px;

    text-shadow: black;
  }
  .navigation-menu {
    width: "100%";
    position: absolute;
    right: 14px;

    margin-right: 0px;
  }
}

@media screen and (max-width: 540px) {
  .navigation-text {
    font-weight: bold;
    font-size: 13px;
    font-family: Piedra;
    letter-spacing: 1px;
    box-shadow: black;

    color: white;

    border: none;
    background-color: transparent;
    outline: 0;

    cursor: pointer;

    margin: 1px;
    padding-top: 8px;

    text-shadow: black;
  }
  .navigation-menu {
    width: "100%";
    position: absolute;
    right: 8px;

    margin-right: 0px;
  }
}
