@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");
.navigation-text {
  font-weight: bold;
  font-size: 30px;
  font-family: Piedra;
  letter-spacing: 2px;
  box-shadow: black;

  color: white;

  border: none;
  background-color: transparent;
  outline: 0;

  cursor: pointer;

  margin: 10px;
  padding-top: 15px;

  text-shadow: black;
}

.navigation-menu {
  width: "100%";
  position: absolute;
  right: 20px;

  margin-right: 0px;
}
