@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
.spacer {
  background-color: rgb(255, 246, 167);
  width: 70%;
  height: 4px;

  border-radius: 5px;

  margin: 40px;
}

.spacer-small {
  background-color: rgb(255, 246, 167);
  width: 90%;
  height: 2px;

  border-radius: 5px;

  margin: 10px;
}
.empty-box {
  width: 10%;
}

.personal-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
}

.info-section {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
}

.photo-box {
  margin: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
}

.my-photo {
  width: 35%;
  height: 25%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.icons-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow: auto;
}

.icon-desc-section {
  margin: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  overflow: auto;
}
@media screen and (min-width: 1040px) {
  .introduction-text {
    width: 50%;
    color: white;
    font-size: 26px;
    text-align: center;

    overflow: auto;
  }

  .education-experiance-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: start;

    overflow: auto;
  }
  .name-text {
    color: white;

    font-size: 32px;
    font-weight: bold;
    font-family: Sriracha;
  }

  .education-text {
    color: white;

    font-family: Sriracha;
    font-size: 32px;
  }

  .table-header {
    color: white;
    font-size: 22px;
    padding: 10px;
  }

  .table-cell {
    color: white;
    font-size: 16px;
    padding: 8px;
  }

  .university-logo {
    width: 90px;
    height: 30px;
    margin: 0;
    padding: 0;
  }

  .firm-logo {
    width: 90px;
    height: 30px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1040px) and (min-width: 480px) {
  .introduction-text {
    width: 70%;
    color: white;
    font-size: 18px;
    text-align: center;

    overflow: auto;
  }

  .education-experiance-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: start;

    overflow: auto;
  }
  .name-text {
    color: white;

    font-size: 26px;
    font-weight: bold;
    font-family: Sriracha;
  }

  .education-text {
    color: white;

    font-family: Sriracha;
    font-size: 26px;
  }

  .table-header {
    color: white;
    font-size: 18px;
    padding: 11px;
  }

  .table-cell {
    color: white;
    font-size: 13px;
    padding: 7px;
  }

  .university-logo {
    width: 60px;
    height: 20%;
    margin: 0;
    padding: 0;
  }

  .firm-logo {
    width: 60px;
    height: 20%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .introduction-text {
    width: 90%;
    color: white;
    font-size: 14px;
    text-align: center;

    overflow: auto;
  }

  .education-experiance-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: start;

    overflow: auto;
  }
  .name-text {
    color: white;

    font-size: 18px;
    font-weight: bold;
    font-family: Sriracha;
  }

  .education-text {
    color: white;

    font-family: Sriracha;
    font-size: 18px;
  }

  .table-header {
    color: white;
    font-size: 15px;
    padding: 5px;
  }

  .table-cell {
    color: white;
    font-size: 12px;
    padding: 4px;
  }

  .university-logo {
    width: 30px;
    height: 20%;
    margin: 0;
    padding: 0;
  }

  .firm-logo {
    width: 30px;
    height: 20%;
    margin: 0;
    padding: 0;
  }
}
.desc-text {
  color: white;

  font-size: 12;
  font-family: Sriracha;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 10px;

  overflow: auto;
}

.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  flex: 1;
}

table td {
  border: 3px solid white;
}
table th {
  border: 3px solid white;
}
table tr th:last-child {
  border-right: 0;
}
table tr th {
  border-top: 0;
}
table tr th:first-child {
  border-left: 0;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

.mail-box {
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: auto;
  margin-bottom: 30px;
}

.mail-text {
  color: white;

  font-size: 12;
  font-family: Sriracha;
  margin-left: 20px;
}
